# Directories

build/

# Cmake 

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# Executables
*.exe
*.out
*.app

# Compiled static libs
*.lai
*.la
*.a
*.lib

# Compiled dynamic libs
*.so
*.dylib
*.dll

# Precompiled headers
*.gch
*.pch

# Compiled object files
*.slo
*.lo
*.o
*.obj

# Prerequisites
*.d